pydantic
langchain 
langchain-core 
langchain-groq 
langgraph 

#Environment loading
python-dotenv 


#Database Management 
sqlalchemy

#Embedding generation 
langchain_huggingface


langchain-experimental 
langchain-huggingface

# Vector Databse 
langchain-chroma